@using System.Globalization
@model IEnumerable<KairosWeb_Groep6.Models.KairosViewModels.Baten.MedewerkerNiveauBaatViewModel>

<table class="table table-bordered table-condensed table-responsive">
    <tr>
        <th>Uren</th>
        <th>Bruto maandloon (fulltime)</th>
        <th>Totale loonkost per jaar (incl. patronale bijdragen en vakantiegeld)</th>
        <th></th>
    </tr>
    @if (Model == null || !Model.Any()) // als de lijst leeg is
    {
        <tr>
            <td colspan="4" class="alert alert-info">
                Er zijn nog geen gegevens ingevuld.
                Start met het invullen door op de <i class="fa fa-plus" aria-hidden="true"></i> rechtsonder 
                de tabel te klikken.
            </td>
        </tr>
    }
    else
    {
        foreach (var baat in Model)
        {
            <tr>
                <td>@baat.Uren.ToString("F", new CultureInfo("nl-BE"))</td>
                <td>@baat.BrutoMaandloonFulltime</td>
                <td>@baat.Bedrag</td>
                <td>
                    <div class="options">
                        <a asp-action="Bewerk" asp-route-id="@baat.Id" id="bewerk"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a asp-action="Verwijder" asp-route-id="@baat.Id" id="verwijder"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        }

        <tr class="alert alert-success">
            <td colspan="2" class="text-right">
                Totaal:
            </td>
            <td colspan="2">
                @(ViewData["totaal"])
            </td>
        </tr>
    }
</table>

