@using System.Globalization
@model KairosWeb_Groep6.Models.KairosViewModels.AnalyseViewModel

<div class="col-sm-6 col-md-6 col-lg-4">
    <div class="card">
        <div>
            <div style="overflow: auto;">
                <!--Overflow omdat anders de border boven de h3 en knop staat-->
                <div class="col-md-6" style="padding-left: 0;">
                    <h3>@Model.Werkgever</h3>
                </div>
                <div class="col-md-6 text-right headerButtons text-right" style="margin-top: 20px; padding-right: 0;">
                    <!--margin omdat de h3 dezelfde margin heeft-->
                    @if (!Model.InArchief)
                    {
                        <a asp-controller="Analyse" asp-action="OpenAnalyse" asp-route-id="@Model.AnalyseId"
                           title="Bewerk deze analyse">
                            <i class="fa fa-pencil" aria-hidden="true"></i> <!-- BEWERKEN -->
                        </a>
                    }
                    
                    @if (Model.InArchief)
                    {
                        <a asp-controller="Archief" asp-action="HaalAnalyseUitArchief" asp-route-id="@Model.AnalyseId"
                           title="Haal deze analyse uit het archief">
                            <i class="fa fa-reply" aria-hidden="true"></i> <!-- UIT ARCHIEF HALEN -->
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Analyse" asp-action="Archiveer" asp-route-id="@Model.AnalyseId"
                           title="Verplaats deze analyse naar het archief">
                            <i class="fa fa-archive" aria-hidden="true"></i> <!-- ARCHIVEREN -->
                        </a>
                    }

                    <a asp-controller="Resultaat" asp-action="MaakExcel" asp-route-id="@Model.AnalyseId"
                       title="Maak een pdf van deze analyse">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> <!-- EXCEL MAKEN -->
                    </a>
                    
                    <a asp-controller="Analyse" asp-action="VerwijderAnalyse" asp-route-id="@Model.AnalyseId" asp-route-from="card"
                       title="Verwijder deze analyse">
                        <i class="fa fa-trash" aria-hidden="true"></i> <!-- VERWIJDEREN -->
                    </a>
                </div>
            </div>

            @if (Model.Gemeente != null)
            {
                <p>@Model.Departement - @Model.Gemeente</p>
            }
            else
            {
                <p>@Model.Departement</p>
            }
            
            <div class="col-xs-12 col-md-12 subTotalen">
                <div class="col-xs-6  col-md-6 text-left bedragBaat">
                    <b>@Model.BatenTotaal.ToString("C", new CultureInfo("nl-BE"))</b>
                </div>
                <div class=" col-xs-6 col-md-6 text-right bedragKost">
                    <b>@Model.KostenTotaal.ToString("C", new CultureInfo("nl-BE"))</b>
                </div>
            </div>
            <div class="progress progressBalk">
                <div class="progress-bar progress-bar-success" role="progressbar" id="subTotaalBaten"
                     style="width: @(Math.Round(Model.BatenPercent, 0))%">
                    
                   
                </div>
      
                <div class="progress-bar progress-bar-danger @Model.BatenTotaal" role="progressbar" id="subTotaalKosten"  
                     style="width: @(Math.Round(Model.KostenPercent, 0))%">
                    
                    
                </div>
            </div>
        
            <div class="text-center resultaat alert @Model.KlasseTotaal">
                <b>@Model.NettoResultaat.ToString("C", new CultureInfo("nl-BE"))</b>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        if (@Model.BatenTotaal < @Model.KostenTotaal){//igv baten > kosten
            var huidigPercent = @Model.BatenPercent;
            var lengte = [@Model.BatenTotaal];
            var length = lengte.length;
            var width = (length * 2) + 2;
            var percentVoorKost = 100 - width;
            @Model.BatenTotaal.

            document.getElementById("#subTotaalBaten").style.width = width;

            document.getElementById("#subTotaalKosten").style.width = percentVoorKost;
        }
        else {//igv kosten > baten
            var lengte = [@Model.KostenTotaal];
            var length = lengte.length;
            var width = (length * 2) + 2;
            var percentVoorBaat = 100 - width;


            document.getElementById("#subTotaalBaten").style.width = "percentVoorBaat%";

            document.getElementById("#subTotaalKosten").style.width = "width%";
        }
        
        var widthBaten = document.getElementById("#subTotaalBaten").style.width;
        var widthKosten = document.getElementById("#subTotaalKosten").style.width;
            /*var height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

            if (width <= 1024) {
                $("#intro").insertAfter("#login");
            }*/
    </script>
    
}