@using KairosWeb_Groep6.Models.Domain
@using KairosWeb_Groep6.Models.Domain.Extensions
@model KairosWeb_Groep6.Models.KairosViewModels.Kosten.KostenIndexViewModel
@{
    ViewData["title"] = "Kosten";
}

<div>
    @Html.Partial("_Tabs")
</div>

<div class="page-header">
    <h3>@ViewData["title"]</h3>
</div>

<p>
    Kies een kost uit onderstaande lijst.
    Beweeg met de muis over de kost om meer info te krijgen.
</p>

<div class="row col-md-offset-1">
    <ul class="nav nav-pills nav-stacked kostenBatenNav">
        <li>
            <a asp-controller="Kosten" asp-action="Loonkosten"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.Loonkost.GeefVraag()">
                @Soort.Loonkost.GeefOmschrijving()
                @if (Model.LoonkostenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Kosten" asp-action="EnclaveKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.EnclaveKost.GeefVraag()">
                @Soort.EnclaveKost.GeefOmschrijving()
                @if (Model.EnclaveKostenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Kosten" asp-action="VoorbereidingsKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.VoorbereidingsKost.GeefVraag()">
                @Soort.VoorbereidingsKost.GeefOmschrijving()
                @if (Model.VoorbereidingsKostenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Kosten" asp-action="InfrastructuurKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.InfrastructuurKost.GeefVraag()">
                @Soort.InfrastructuurKost.GeefOmschrijving()
                @if (Model.InfrastructuurKostenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <!--K4-->
            <a asp-controller="Kosten" asp-action="GereedschapsKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.GereedschapsKost.GeefVraag()">
                @Soort.GereedschapsKost.GeefOmschrijving()
                @if (Model.GereedschapsKostenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <!--K5-->
            <a asp-controller="Kosten" asp-action="OpleidingsKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.OpleidingsKost.GeefVraag()">
                @Soort.OpleidingsKost.GeefOmschrijving()
                @if (Model.OpleidingsKostenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <!--k6-->
            <a asp-controller="Kosten" asp-action="BegeleidingsKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.BegeleidingsKost.GeefVraag()">
                @Soort.BegeleidingsKost.GeefOmschrijving()
                @if (Model.BegeleidingsKostenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <!--k7-->
            <a asp-controller="Kosten" asp-action="ExtraKosten"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.ExtraKost.GeefVraag()">
                @Soort.ExtraKost.GeefOmschrijving()
                @if (Model.ExtraKostenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
    </ul>
</div>

<div class="row" style="margin-top:20px">
    <div class="col-xs-10 .col-md-10">
        <a asp-controller="Werkgever" asp-action="Index" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Werkgever
        </a>
    </div>
    <div class="col-xs-2 col-md-2 text-right">
        <a asp-controller="Baten" asp-action="Index" class="btn btn-default">
            Baten <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $("#kosten").addClass("active");
    </script>
}