@model KairosWeb_Groep6.Models.KairosViewModels.BestaandeWerkgeverViewModel


@if (!Model.Werkgevers.Any() && Model.FirstLoad == false)
{
    <p class="alert alert-info animated shake">Er zijn geen werkgevers gevonden. Probeer een andere zoekterm of maak een nieuwe werkgever aan.</p>
}
else if(!Model.Werkgevers.Any() && Model.FirstLoad)
{
    //doe niets
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Naam</th>
            <th>Adres</th>
        </tr>
    
        @foreach (var item in Model.Werkgevers)
        {
            <tr class="klikbareRij" data-href="@Url.Action("BestaandDepartement", "Werkgever", new { Id = item.WerkgeverId })">
                <td>@item.Naam</td>
                <td>@item.Straat @item.Nummer, @item.Postcode @item.Gemeente</td>
            </tr>
        }
    </table>
}


    <script>   
        if (siteView) {
            siteView.initKlikbareRijen();
        }
    </script>   

