@model IEnumerable<KairosWeb_Groep6.Models.KairosViewModels.WerkgeverViewModel>


@if (!Model.Any())
{
    <p class="alert alert-info animated shake">Er zijn geen werkgevers gevonden. Probeer een andere zoekterm of maak een nieuwe werkgever aan.</p>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th></th>
            <th>Naam</th>
            <th>Adres</th>
            <th>Departement</th>
        </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="options">
                        <!--Deze action moet normaal naar de navigatie gaan voor baten-->
                        <a asp-action="OverzichtDepartementenWerkgever" asp-route-id="@item.DepartementId">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
                <td>@item.Naam</td>
                <td>@item.Straat @item.Nummer, @item.Postcode @item.Gemeente</td>
                <td>@item.Departement</td>
            </tr>
        }
    </table>
}
