@model KairosWeb_Groep6.Models.KairosViewModels.BestaandeWerkgeverViewModel


@if (!Model.Werkgevers.Any() && Model.FirstLoad == false)
{
    <p class="alert alert-info animated shake">Er zijn geen werkgevers gevonden. Probeer een andere zoekterm of maak een nieuwe werkgever aan.</p>
}
else if(!Model.Werkgevers.Any() && Model.FirstLoad == true)
{
    //doe niets
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Naam</th>
            <th>Adres</th>
        </tr>
    
        @foreach (var item in Model.Werkgevers)
        {
            <tr class="klikbareRij" data-href="@Url.Action("BestaandDepartement", "Werkgever", new { Id = item.WerkgeverId })">
                <td>@item.Naam</td>
                <td>@item.Straat @item.Nummer, @item.Postcode @item.Gemeente</td>
            </tr>
        }
    </table>
}
<div class="row" style="margin-top:20px">
    <div class="col-xs-9 col-md-9">
        @if (Model.ShowVorige)
        {
            <a asp-controller="Werkgever" asp-action="Vorige" asp-route-model="@Model" style="margin-left: 15px" class="btn btn-default">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Vorige
            </a>
        }
    </div>
    <div class="col-xs-3 col-md-3 text-right">
        @if (Model.ShowVolgende)
        {
            <a asp-controller="Werkgever" asp-action="Volgende" asp-route-model="@Model" class="btn btn-default">
                Volgende <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        }
    </div>
</div>



    <script>   
        if (siteView) {
            siteView.initKlikbareRijen();
        }
    </script>   

