@using KairosWeb_Groep6.Models.Domain.Kosten
@model KairosWeb_Groep6.Models.KairosViewModels.Kosten.LoonKostViewModels.LoonkostenIndexViewModel
@{
    ViewData["title"] = "Loonkost";
    var action = Model.Id == 0 ? "VoegToe" : "Bewerk";
    ViewData["action"] = Model.Id == 0 ? "Voeg toe" : "Opslaan";
}

<div>
    <div>
        @Html.Partial("_Tabs")
    </div>

    <div class="page-header">
        <h3>@ViewData["title"]</h3>
    </div>

    <p>Welke (nieuwe) functie(s) vul je in?</p>

    <div id="data">
        @{
            Html.RenderPartial("_OverzichtTabel", Model.ViewModels);
        }
    </div>

    <div class="addOption">
        <a class="btn btn-info" id="openForm"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>

    <form asp-action="@action" id="form" style="display: none" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <!--3 hidden inputs om het id, soort en type op te slaan-->
        <input asp-for="Id" />
        <input asp-for="Type" />
        <input asp-for="Soort" />
       
        <div class="row">
            <div class="form-group overflow">
                <div class="col-md-4">
                    <label asp-for="Beschrijving"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-font" aria-hidden="true"></i>
                        </span>
                        <input asp-for="Beschrijving" class="form-control" placeholder="Functie" id="functie">
                    </div>
                    <span asp-validation-for="Beschrijving" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="AantalUrenPerWeek"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </span>
                        <input asp-for="AantalUrenPerWeek" class="form-control"
                               placeholder="Aantal uren per week" id="urenPerWeek">
                    </div>
                    <span asp-validation-for="AantalUrenPerWeek" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="BrutoMaandloonFulltime"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-eur" aria-hidden="true"></i>
                        </span>
                        <input asp-for="BrutoMaandloonFulltime" class="form-control"
                               placeholder="Brutomaandloon (fulltime)" id="brutoMaandloon">
                    </div>
                    <span asp-validation-for="BrutoMaandloonFulltime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group overflow">
                <div class="col-md-4">
                    <label asp-for="Doelgroep"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                        <select asp-for="Doelgroep" asp-items="@(Html.GetEnumSelectList<Doelgroep>())" class="form-control">
                            <option value="">-- selecteer een doelgroep --</option>
                        </select>
                    </div>
                    <span asp-validation-for="Doelgroep" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Ondersteuningspremie"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-percent" aria-hidden="true"></i>
                        </span>
                        <select asp-for="Ondersteuningspremie" class="form-control">
                            <option value="0">0%</option>
                            <option value="20">20%</option>
                            <option value="30">30%</option>
                            <option value="40">40%</option>
                        </select>
                    </div>
                    <span asp-validation-for="Ondersteuningspremie" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="AantalMaandenIBO"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-eur" aria-hidden="true"></i>
                        </span>
                        <input asp-for="AantalMaandenIBO" class="form-control"
                               placeholder="Aantal maanden IBO" id="maandenIBO">
                    </div>
                    <span asp-validation-for="AantalMaandenIBO" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group overflow">
                <div class="col-md-4">
                    <label asp-for="IBOPremie"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-eur" aria-hidden="true"></i>
                        </span>
                        <input asp-for="IBOPremie" class="form-control"
                               placeholder="Totale productiviteitspremie IBO" id="IBOpremie">
                    </div>
                    <span asp-validation-for="IBOPremie" class="text-danger"></span>
                </div>
                <div class="col-md-8 text-right">
                    <a class="btn btn-default" id="closeForm">Annuleer</a>
                    <button type="submit" class="btn btn-info" style="margin-left: 15px">@ViewData["action"]</button>
                </div>
            </div>
        </div>
        <br />
    </form>
</div>

<div class="row">
    <div class="col-xs-3 col-md-4">
        <a asp-controller="Kosten" asp-action="Index" style="margin-left: 15px" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Kosten
        </a>
    </div>
    <div class="col-xs-9 col-md-8 text-right">
        <a asp-controller="Kosten" asp-action="EnclaveKosten" style="margin-left: 30px" class="btn btn-info">
            Kosten voor maatwerkbedrijf of enclave of onderaanneming <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>

@section scripts{
    <script>
        if (@Model.ToonFormulier === 1) {
            siteView.toonFormulier();
        } else {
            $("#functie").val("");
            $("#urenPerWeek").val("");
            $("#brutoMaandloon").val("");
            $("#doelgroep").val("");
            $("#maandenIBO").val("");
            $("#IBOpremie").val("");
        }

        $("#kosten").addClass("active");
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}