@using System.Globalization
@using KairosWeb_Groep6.Models.Domain;
@using KairosWeb_Groep6.Models.Domain.Extensions;
@model KairosWeb_Groep6.Models.KairosViewModels.ResultaatViewModel
@{
    ViewData["title"] = "Resultaat";
}

<div>
    @Html.Partial("_Tabs")
</div>

<div class="page-header" style="overflow: auto;">
    <!--Overflow omdat anders de border boven de h3 en knop staat-->
    <div class="col-xs-7 col-sm-7 col-md-8">
        <h3>@ViewData["title"]</h3>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-4 text-right headerButtons" style="margin-top: 20px;">
        <!--margin omdat de h3 dezelfde margin heeft-->
        <a asp-controller="Resultaat" asp-action="AnalyseKlaar">
            @if (Model.AnalyseKlaar)
            {
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
            }
            else
            {
                <i class="fa fa-square-o" aria-hidden="true"></i>
            } Analyse klaar<!-- ANALYSE KLAAR -->
        </a>

        <a asp-controller="Resultaat" asp-action="Mail" asp-route-id="@Model.AnalyseId">
            <i class="fa fa-envelope" aria-hidden="true"></i> <!-- MAILEN -->
        </a>

        <a asp-controller="Resultaat" asp-action="Opslaan">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> <!-- OPSLAAN -->
        </a>

        <a asp-controller="Resultaat" asp-action="MaakExcel" asp-route-id="@Model.AnalyseId">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i><!-- EXCEL MAKEN-->
        </a>
        <a asp-controller="Analyse" asp-action="VerwijderAnalyse" asp-route-id="@Model.AnalyseId" asp-route-from="resultaat">
            <i class="fa fa-trash" aria-hidden="true"></i> <!-- ANALYSE VERWIJDEREN -->
        </a>
    </div>
</div>

@if (Model.Resultaten != null)
{
    <div class="col-sm-12 col-md-12 col-lg-12 resultaat">
        <table class="table table-bordered table-responsive">
            <tr>
                <th class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="Index">Baten</a>
                </th>
                <th class="col-md-4 text-center" colspan="2">Bedrag</th>
                <th class="col-sm-4 col-md-4 text-right">
                    <a asp-controller="Kosten" asp-action="Index">Kosten</a>
                </th>
            </tr>
            
            <tr>
                <!-- Rij 1 Loonkostsubsidies - Loonkost -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Kosten" asp-action="Loonkosten">
                        @Soort.LoonkostSubsidies.GeefOmschrijving()
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.LoonkostSubsidies].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.Loonkost].ToString("C", new CultureInfo("nl-BE"))
                </td>
                <td class="col-sm-4 col-md-4  text-right">
                    <a asp-controller="Kosten" asp-action="Loonkosten">
                        @Soort.Loonkost.GeefOmschrijving()
                    </a>
                </td>
            </tr>

            <tr>
                <!-- Rij 2 Subsidie - EnclaveKost -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="Subsidie">
                        @Soort.Subsidie.GeefOmschrijving()
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.Subsidie].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.EnclaveKost].ToString("C", new CultureInfo("nl-BE"))
                </td>
                <td class="col-sm-4 col-md-4  text-right">
                    <a asp-controller="Kosten" asp-action="EnclaveKosten">
                        @Soort.EnclaveKost.GeefOmschrijving()
                    </a>
                </td>
            </tr>

            <tr>
                <!-- Rij 3 Medewerkers zelfde niveau - Voorbereidingskosten -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="MedewerkerZelfdeNiveau">
                        @Soort.MedewerkersZelfdeNiveau.GeefOmschrijving()
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.MedewerkersZelfdeNiveau].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.VoorbereidingsKost].ToString("C", new CultureInfo("nl-BE"))
                </td>
                <td class="col-sm-4 col-md-4  text-right">
                    <a asp-controller="Kosten" asp-action="VoorbereidingsKosten">
                        @Soort.VoorbereidingsKost.GeefOmschrijving()
                    </a>
                </td>
            </tr>
            
            <tr>
                <!-- Rij 4 Medewerkers hoger niveau - Materiële kosten -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="MedewerkerHogerNiveau">
                        @Soort.MedewerkersHogerNiveau.GeefOmschrijving()
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.MedewerkersHogerNiveau].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.GereedschapsKost].ToString("C", new CultureInfo("nl-BE"))
                </td>
                <td class="col-sm-4 col-md-4  text-right">
                    <a asp-controller="Kosten" asp-action="GereedschapsKosten">
                        @Soort.GereedschapsKost.GeefOmschrijving()
                    </a>
                </td>
            </tr>

            <tr>
                <!-- Rij 5 Uitzendkrachtbesparing - Infrastructuurkosten -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="UitzendKrachtBesparingen">
                        @Soort.UitzendkrachtBesparing.GeefOmschrijving()
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.UitzendkrachtBesparing].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.PersoneelsKost].ToString("C", new CultureInfo("nl-BE"))
                </td>
                <td class="col-sm-4 col-md-4  text-right">
                    <a asp-controller="Kosten" asp-action="PersoneelsKosten">
                        @Soort.PersoneelsKost.GeefOmschrijving()
                    </a>
                </td>
            </tr>

            <tr>
                <!-- Rij 6 Extra omzet - Opleidingskosten -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="ExtraOmzet">
                      @Soort.ExtraOmzet.GeefOmschrijving()  
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.ExtraOmzet].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.OpleidingsKost].ToString("C", new CultureInfo("nl-BE"))
                </td>
                <td class="col-sm-4 col-md-4  text-right">
                    <a asp-controller="Kosten" asp-action="OpleidingsKosten">
                        @Soort.OpleidingsKost.GeefOmschrijving()
                    </a>
                </td>
            </tr>

            <tr>
                <!-- Rij 7 Extra productiviteit - Begeleidingskosten -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="ExtraProductiviteit">
                        @Soort.ExtraProductiviteit.GeefOmschrijving()
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.ExtraProductiviteit].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.BegeleidingsKost].ToString("C", new CultureInfo("nl-BE"))
                </td>
                <td class="col-sm-4 col-md-4  text-right">
                    <a asp-controller="Kosten" asp-action="BegeleidingsKosten">
                        @Soort.BegeleidingsKost.GeefOmschrijving()
                    </a>
                </td>
            </tr>

            <tr>
                <!-- Rij 8 Besparing op overuren - Extra kosten -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="OverurenBesparing">
                        @Soort.OverurenBesparing.GeefOmschrijving()
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.OverurenBesparing].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.ExtraKost].ToString("C", new CultureInfo("nl-BE"))
                </td>
                <td class="col-sm-4 col-md-4  text-right">
                    <a asp-controller="Kosten" asp-action="ExtraKosten">
                        @Soort.ExtraKost.GeefOmschrijving()
                    </a>
                </td>
            </tr>

            <tr>
                <!-- Rij 9 Externe inkopen -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="ExterneInkopen">
                        @Soort.ExterneInkoop.GeefOmschrijving()
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.ExterneInkoop].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center"></td>
                <td class="col-sm-4 col-md-4  text-right"></td>
            </tr>

            <tr>
                <!-- Rij 10 Logistieke besparing -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="LogistiekeBesparing">
                        @Soort.LogistiekeBesparing.GeefOmschrijving()
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.LogistiekeBesparing].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center"></td>
                <td class="col-sm-4 col-md-4  text-right"></td>
            </tr>

            <tr>
                <!-- Rij 11 Extra besparingen -->
                <td class="col-sm-4 col-md-4">
                    <a asp-controller="Baten" asp-action="ExtraBesparingen">
                        @Soort.ExtraBesparing.GeefOmschrijving()
                    </a>
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.ExtraBesparing].ToString("C", new CultureInfo("nl-BE"))
                </td>

                <td class="col-md-2 text-center"></td>
                <td class="col-sm-4 col-md-4  text-right"></td>
            </tr>

            <tr class="alert alert-info">
                <!-- Afzonderlijke resultaten -->
                <td class="col-sm-4 col-md-4">
                    <b>Subtotaal baten</b>
                </td>
                <td class="col-md-2 text-center">
                    @Model.BatenTotaal.ToString("C", new CultureInfo("nl-BE"))
                </td>
                <td class="col-md-2 text-center">
                    @Model.KostenTotaal.ToString("C", new CultureInfo("nl-BE"))
                </td>
                <td class="col-sm-4 col-md-4 text-right">
                    <b>Subtotaal kosten</b>
                </td>
            </tr>

            <!-- Nettoresultaat -->
            <tr class="alert @ViewData["klasseTotaal"]">
                <td colspan="4" class="col-md-12 text-center">
                    @Model.Totaal.ToString("C", new CultureInfo("nl-BE"))
                </td>
            </tr>
            <tr class="alert @ViewData["klasseTotaal"]">
                <td colspan="4" class="col-md-12 text-center">
                    <b>NETTORESULTAAT</b>
                </td>
            </tr>
        </table>
    </div>
}
else
{
    <p>Er is nog geen werkgever geselecteerd, hierdoor kan er momenteel nog geen resultaat getoond worden.</p>
    <p><a asp-controller="Werkgever" asp-action="Index">Voeg een werknemer toe</a> via de navigatie hierboven.</p>
}
<div class="row" style="margin-top:20px">
    <div class="col-xs-10 col-md-10">
        <a asp-controller="Baten" asp-action="Index" style="margin-left: 15px" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Baten
        </a>
    </div>
  
</div>
@section scripts{
    <script>
        $("#resultaat").addClass("active");
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
