@using KairosWeb_Groep6.Models.Domain;
@using KairosWeb_Groep6.Models.Domain.Extensions;
@model KairosWeb_Groep6.Models.KairosViewModels.ResultaatViewModel
@{
    ViewData["title"] = "Resultaat";
}

<div>
    @Html.Partial("_Tabs")
</div>

<div class="page-header" style="overflow: auto;">
    <!--Overflow omdat anders de border boven de h3 en knop staat-->
    <div class="col-md-9">
        <h3>@ViewData["title"]</h3>
    </div>
    <div class="col-md-3 text-right headerButtons" style="margin-top: 20px;">
        <!--margin omdat de h3 dezelfde margin heeft-->
        <a asp-controller="Resultaat" asp-action="Afdrukken" class="btn btn-default">
            <span class="glyphicon glyphicon-print"></span> <!-- AFDRUKKEN -->
        </a>

        <a asp-controller="Resultaat" asp-action="Mail" class="btn btn-default">
            <span class="glyphicon glyphicon-envelope"></span> <!-- MAILEN -->
        </a>

        <a asp-controller="Resultaat" asp-action="Opslaan" asp-route-id="@Model.AnalyseId" class="btn btn-default">
            <span class="glyphicon glyphicon-floppy-disk"></span> <!-- OPSLAAN -->
        </a>

        <a asp-controller="Resultaat" asp-action="MaakPdf" class="btn btn-default">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <!-- PDF MAKEN -->
        </a>
        
        <a asp-controller="Analyse" asp-action="VerwijderAnalyse" asp-route-id="@Model.AnalyseId" class="btn btn-default">
            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i> <!-- ANALYSE VERWIJDEREN -->
        </a>
    </div>
</div>

@if (Model.Resultaten != null)
{
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered table-responsive">
            <tr>
                <th class="col-md-4">Baten</th>
                <th class="col-md-4 text-center" colspan="2">Bedrag</th>
                <th class="col-md-4 text-right">Kosten</th>
            </tr>

            <tr>
                <!-- Rij 1 Medewerkers zelfde niveau - Loonkost -->
                <td class="col-md-4">
                    @Soort.MedewerkersZelfdeNiveau.GeefOmschrijving()
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.MedewerkersZelfdeNiveau].ToString("C")
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.Loonkost].ToString("C")
                </td>
                <td class="col-md-4  text-right">
                    @Soort.Loonkost.GeefOmschrijving()
                </td>
            </tr>

            <tr>
                <!-- Rij 2 Medewerkers hoger niveau - Enclavekost -->
                <td class="col-md-4">
                    @Soort.MedewerkersHogerNiveau.GeefOmschrijving()
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.MedewerkersHogerNiveau].ToString("C")
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.EnclaveKost].ToString("C")
                </td>
                <td class="col-md-4  text-right">
                    @Soort.EnclaveKost.GeefOmschrijving()
                </td>
            </tr>

            <tr>
                <!-- Rij 3 Uitzendkrachtbesparing - Voorbereidingskosten -->
                <td class="col-md-4">
                    @Soort.UitzendkrachtBesparing.GeefOmschrijving()
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.UitzendkrachtBesparing].ToString("C")
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.VoorbereidingsKost].ToString("C")
                </td>
                <td class="col-md-4  text-right">
                    @Soort.VoorbereidingsKost.GeefOmschrijving()
                </td>
            </tr>

            <tr>
                <!-- Rij 4 Extra omzet - Infrastructuurkosten -->
                <td class="col-md-4">
                    @Soort.ExtraOmzet.GeefOmschrijving()
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.ExtraOmzet].ToString("C")
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.InfrastructuurKost].ToString("C")
                </td>
                <td class="col-md-4  text-right">
                    @Soort.InfrastructuurKost.GeefOmschrijving()
                </td>
            </tr>

            <tr>
                <!-- Rij 5 Extra productiviteit - Gereedschapskosten -->
                <td class="col-md-4">
                    @Soort.ExtraProductiviteit.GeefOmschrijving()
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.ExtraProductiviteit].ToString("C")
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.GereedschapsKost].ToString("C")
                </td>
                <td class="col-md-4  text-right">
                    @Soort.GereedschapsKost.GeefOmschrijving()
                </td>
            </tr>

            <tr>
                <!-- Rij 6 Besparing op overuren - Opleidingskosten -->
                <td class="col-md-4">
                    @Soort.OverurenBesparing.GeefOmschrijving()
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.OverurenBesparing].ToString("C")
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.OpleidingsKost].ToString("C")
                </td>
                <td class="col-md-4  text-right">
                    @Soort.OpleidingsKost.GeefOmschrijving()
                </td>
            </tr>

            <tr>
                <!-- Rij 7 Externe inkopen - Begeleidingskosten -->
                <td class="col-md-4">
                    @Soort.ExterneInkoop.GeefOmschrijving()
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.ExterneInkoop].ToString("C")
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.BegeleidingsKost].ToString("C")
                </td>
                <td class="col-md-4  text-right">
                    @Soort.BegeleidingsKost.GeefOmschrijving()
                </td>
            </tr>

            <tr>
                <!-- Rij 8 Subsidie - Extra kosten -->
                <td class="col-md-4">
                    @Soort.Subsidie.GeefOmschrijving()
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.Subsidie].ToString("C")
                </td>

                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.ExtraKost].ToString("C")
                </td>
                <td class="col-md-4  text-right">
                    @Soort.ExtraKost.GeefOmschrijving()
                </td>
            </tr>

            <tr>
                <!-- Rij 9 Extra besparingen -->
                <td class="col-md-4">
                    @Soort.ExtraBesparing.GeefOmschrijving()
                </td>
                <td class="col-md-2 text-center">
                    @Model.Resultaten[Soort.ExtraBesparing].ToString("C")
                </td>

                <td class="col-md-2 text-center"></td>
                <td class="col-md-4  text-right"></td>
            </tr>

            <tr class="alert alert-info">
                <!-- Afzonderlijke resultaten -->
                <td class="col-md-4">
                    <b>Subtotaal baten</b>
                </td>
                <td class="col-md-2 text-center">
                    @Model.BatenTotaal.ToString("C")
                </td>
                <td class="col-md-2 text-center">
                    @Model.KostenTotaal.ToString("C")
                </td>
                <td class="col-md-4 text-right">
                    <b>Subtotaal kosten</b>
                </td>
            </tr>

            <!-- Nettoresultaat -->
            <tr class="alert @ViewData["klasseTotaal"]">
                <td colspan="4" class="col-md-12 text-center">
                    @Model.Totaal.ToString("C")
                </td>
            </tr>
            <tr class="alert @ViewData["klasseTotaal"]">
                <td colspan="4" class="col-md-12 text-center">
                    <b>NETTORESULTAAT</b>
                </td>
            </tr>
        </table>
    </div>
}
else
{
    <p>Er is nog geen werkgever geselecteerd, hierdoor kan er momenteel nog geen resultaat getoond worden.</p>
    <p><a asp-controller="Analyse" asp-action="SelecteerWerkgever">Voeg een werknemer toe</a> via de navigatie hierboven.</p>
}
<div class="row" style="margin-top:20px">
    <div class="col-xs-10 col-md-10">
        <a asp-controller="Baten" asp-action="Index" style="margin-left: 15px" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Baten
        </a>
    </div>
  
</div>
@section scripts{
   <script>
        $("#resultaat").addClass("active");
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
