@model KairosWeb_Groep6.Models.KairosViewModels.Baten.ExterneInkoopViewModels.ExterneInkopenIndexViewModel
@{
    ViewData["Title"] = "Externe inkopen";
    var action = Model.Id == 0 ? "VoegToe" : "Bewerk";
    ViewData["action"] = Model.Id == 0 ? "Voeg toe" : "Opslaan";
}

<div>
    <div>
        @Html.Partial("_Tabs")
    </div>

    <div class="page-header">
        <h3>@ViewData["title"]</h3>
    </div>

    <p>
        Welke zaken koopt de werkgever vandaag extern in? Op welke kan worden bespaard door de inzet van mensen
        met een grote afstand tot de arbeidsmarkt? Denk hierbij aan bijvoorbeeld uitbesteedde productie, schoonmaak,
        groendienst, enz. Hoeveel betaalt de werkgever vandaag jaarlijks aan het uitbesteden van werk?
        Wat zijn de transportkosten van eventueel uitbesteedde zaken? Wat zijn de logistieke handlingskosten van
        eventueel uitbesteedde zaken? Hoeveel denkt de werkgever te kunnen besparen?
    </p>

    <div id="data">
        @{
            Html.RenderPartial("_OverzichtTabel", Model.ViewModels);
        }
    </div>

    <div class="addOption">
        <a class="btn btn-success" id="openForm">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>

    <!--begin div inputForm-->
    <form asp-action="@action" id="form" method="post" style="display: none;" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="Id"/>
        <input asp-for="Soort"/>
        <input asp-for="Type"/>

        <div class="row col-md-offset-2">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-font" aria-hidden="true"></i>
                    </span>
                    <input asp-for="Beschrijving" class="form-control" placeholder="Beschrijving" id="beschrijving"/>
                </div>
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-eur" aria-hidden="true"></i>
                    </span>
                    <input asp-for="Bedrag" class="form-control" id="bedrag" placeholder="Bedrag"/>
                </div>
                <span asp-validation-for="Bedrag" class="text-danger"></span>
            </div>
        </div>
        <br/>

        <!--buttons an/add-->
        <div class="row col-md-offset-2">
            <div class="col-md-8 text-right">
                <a class="btn btn-default" id="closeForm">Annuleer</a>
                <button type="submit" class="btn btn-info" style="margin-left: 15px">@ViewData["action"]</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-xs-10 .col-md-10">
        <a asp-controller="Baten" asp-action="OverurenBesparingen" style="margin-left: 15px" class="btn btn-default">❮ Overuren Besparingen </a>
    </div>
    <div class="col-xs-2 .col-md-2">
        <a asp-controller="Baten" asp-action="Subsidies" style="margin-left: 15px" class="btn btn-success">Subsidies ❯</a>
    </div>
</div>

@section scripts{
    <script>
        if (@Model.Bedrag > 0) {
            toonFormulier();
        } else {
            $("#beschrijving").val("");
            $("#bedrag").val("");
        }

        $("#form").submit(function() {
            $.post(this.action,
                $(this).serialize(),
                function(data) {
                    $("#data").html(data);
                    $("#beschrijving").val("");
                    $("#bedrag").val("");
                });

            return false;
        });

        $("#baten").addClass("active");

    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}