@using KairosWeb_Groep6.Models.Domain
@using KairosWeb_Groep6.Models.Domain.Extensions
@model KairosWeb_Groep6.Models.KairosViewModels.Baten.BatenIndexViewModel
@{
    ViewData["title"] = "Baten";
}

<div>
    @Html.Partial("_Tabs")
</div>

<div class="page-header">
    <h3>@ViewData["title"]</h3>
</div>

<p>
    Kies een baat uit onderstaande lijst.
    Beweeg met de muis over de baat om meer info te krijgen.
</p>
<div class="row col-md-offset-1">
    <ul class="nav nav-pills nav-stacked kostenBatenNav">
        <li>
            <a asp-controller="Baten" asp-action="MedewerkerZelfdeNiveau"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.MedewerkersZelfdeNiveau.GeefVraag()">
                @Soort.MedewerkersZelfdeNiveau.GeefOmschrijving()
                @if (Model.MedewerkersZelfdeNiveauBaatIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Baten" asp-action="MedewerkerHogerNiveau"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.MedewerkersHogerNiveau.GeefVraag()">
                @Soort.MedewerkersHogerNiveau.GeefOmschrijving()
                @if (Model.MedewerkersHogerNiveauBaatIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Baten" asp-action="UitzendKrachtBesparingen"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.UitzendkrachtBesparing.GeefVraag()">
                @Soort.UitzendkrachtBesparing.GeefOmschrijving()
                @if (Model.UitzendKrachtBesparingenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Baten" asp-action="ExtraOmzet"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.ExtraOmzet.GeefVraag()">
                @Soort.ExtraOmzet.GeefOmschrijving()
                @if (Model.ExtraOmzetIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Baten" asp-action="ExtraProductiviteit"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.ExtraProductiviteit.GeefVraag()">
                @Soort.ExtraProductiviteit.GeefOmschrijving()
                @if (Model.ExtraProductiviteitIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Baten" asp-action="OverurenBesparing"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.OverurenBesparing.GeefVraag()">
                @Soort.OverurenBesparing.GeefOmschrijving()
                @if (Model.OverurenBesparingIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Baten" asp-action="ExterneInkopen"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.ExterneInkoop.GeefVraag()">
                @Soort.ExterneInkoop.GeefOmschrijving()
                @if (Model.ExterneInkopenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Baten" asp-action="Subsidie"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.Subsidie.GeefVraag()">
                @Soort.Subsidie.GeefOmschrijving()
                @if (Model.SubsidieIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Baten" asp-action="LogistiekeBesparing"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.LogistiekeBesparing.GeefVraag()">
                @Soort.LogistiekeBesparing.GeefOmschrijving()
                @if (Model.LogistiekeBesparingIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
        <li>
            <a asp-controller="Baten" asp-action="ExtraBesparingen"
               data-toggle="tooltip" data-placement="bottom"
               title="@Soort.ExtraBesparing.GeefVraag()">
                @Soort.ExtraBesparing.GeefOmschrijving()
                @if (Model.ExtraBesparingenIngevuld)
                {
                    <i class="fa fa-check-square-o fa-2x pull-right" aria-hidden="true"></i>
                }
            </a>
        </li>
    </ul>
</div>
<div class="row" style="margin-top:20px">
    <div class="col-xs-10 .col-md-10">
        <a asp-controller="Kosten" asp-action="Index" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Kosten</a>
    </div>
    <div class="col-xs-2 .col-md-2 text-right" id="btnResultaat">
        <a asp-controller="Resultaat" asp-action="Index" style="margin-left:15px" class="btn btn-default">
        Resultaat <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        $("#baten").addClass("active");
    </script>
}