@model IEnumerable<KairosWeb_Groep6.Models.KairosViewModels.ContactPersoonViewModel>

@if (!Model.Any())
{
    <p class="alert alert-info animated shake">Er zijn geen contact personen gevonden. Probeer een andere zoekterm of maak een nieuwe werkgever aan.</p>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Naam</th>
            <th>Voornaam</th>
            <th>E-mail</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
                              
                <tr class="klikbareRij" data-href="@Url.Action("SelecteerBestaandeContactPersoon", "ContactPersoon",
                                              new { WerkgeverId = item.WerkgeverId, ContactPersoonId = @item.PersoonId ,AnalyseId = ViewData["AnalyseId"]})">
                    <td>@item.Naam</td>
                    <td>@item.Voornaam</td>
                    <td>@item.Email</td>
                    <td>
                        <div class="options">
                            <a asp-action="Bewerk" asp-route-id="@item.WerkgeverId" asp-route-cpid="@item.PersoonId" id="bewerk"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a asp-action="Verwijder" asp-route-id="@item.WerkgeverId" asp-route-cpid="@item.PersoonId" id="verwijder"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>

        }
    </table>
}