@model KairosWeb_Groep6.Models.KairosViewModels.Kosten.BegeleidingsKostViewModels.BegeleidingsKostenIndexViewModel

@{
    ViewData["Title"] = "Begeleidingskosten";
    var action = Model.Id == 0 ? "VoegToe" : "Bewerk";
    ViewData["action"] = Model.Id == 0 ? "Voeg toe" : "Opslaan";
}

<div>
    
    <div>
        @Html.Partial("_Tabs")
    </div>

    <div class="page-header" style="overflow: auto;"> <!--Overflow omdat anders de border boven de h3 en knop staat-->
        <div class="col-md-9">
            <h3>@ViewData["title"]</h3>
        </div>
        <div class="col-md-3" style="margin-top: 20px;"> <!--margin omdat de h3 dezelfde margin heeft-->
            <a asp-controller="BegeleidingsKosten" asp-action="Info" class="btn btn-default text-right">
                <span class="glyphicon glyphicon-info-sign"></span>
                Toelichting begeleidingskosten
            </a>
        </div>
    </div>

    <p>Welke kosten zal de werkgevers jaarlijks hebben aan extra administratie en interne begeleiding tijdens de tewerkstelling?</p>

    <br />

    <div id="data">
        @{
            Html.RenderPartial("_OverzichtTabel", Model.ViewModels);
        }
    </div>

    <div class="addOption">
        <a class="btn btn-success" id="openForm"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>

    <form asp-action="@action" id="form" style="display: none" method="post">
        <h6 class="col-md-offset-2" id="infoTekstVerplichteVelden">Velden aangeduid met een * zijn verplicht in te vullen</h6>
        <div asp-validation-summary="All" class="text-danger"></div>

        <!--3 hidden inputs om het id, soort en type op te slaan-->
        <input asp-for="Id" />
        <input asp-for="Type" />
        <input asp-for="Soort" />

        <div class="row col-md-offset-2 required">
            <div class="col-md-4">
                <label asp-for="Uren" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </span>
                    <input asp-for="Uren" class="form-control input-maxwidth" placeholder="Uren" id="uren">
                </div>
                <!--<span asp-validation-for="Uren" class="text-danger"></span>-->
            </div>

            <div class="col-md-4">
                <label asp-for="BrutoMaandloonBegeleider" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-eur" aria-hidden="true"></i>
                    </span>
                    <input asp-for="BrutoMaandloonBegeleider" class="form-control input-maxwidth"
                           placeholder="Bruto maandloon begeleider" id="brutoloon">
                </div>
                <!--<span asp-validation-for="BrutoMaandloonBegeleider" class="text-danger"></span>-->
            </div>
        </div>

        <br />

        <div class="row col-md-offset-6 col-md-4 form-group">
            <div class="col-md-8 text-right noPadding">
                <a class="btn btn-default" id="closeForm">Annuleer</a>
                <button type="submit" class="btn btn-info" style="margin-left: 15px">@ViewData["action"]</button>
            </div>
        </div>
    </form>
</div>



<div class="row" style="margin-top:20px">
    <div class="col-xs-9 col-md-9">
        <a asp-controller="Kosten" asp-action="OpleidingsKosten" style="margin-left: 15px" class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Opleidingskosten
        </a>
    </div>
    <div class="col-xs-3 col-md-3 text-right">
        <a asp-controller="Kosten" asp-action="ExtraKosten" style="margin-left: 35px" class="btn btn-success">
            Extra kosten <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>

@section scripts{
    <script>
        if (@Model.ToonFormulier === 1) {
            siteView.toonFormulier();
        } else {
            $("#uren").val("");
            $("#brutoloon").val("");
        }

        $("#kosten").addClass("active");
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}