@model KairosWeb_Groep6.Models.KairosViewModels.Baten.MedewerkerNiveauBaatViewModels.MedewerkerNiveauIndexViewModel
@{
    ViewData["title"] = "Medewerkers op hoger niveau vervangen";
    var action = Model.Id == 0 ? "VoegToe" : "Bewerk";
    ViewData["action"] = Model.Id == 0 ? "Voeg toe" : "Opslaan";
}

<div>
    <div>
        @Html.Partial("_Tabs")
    </div>

    <div class="page-header">
        <h3>@ViewData["title"]</h3>
    </div>

    <p>Zullen er (deels) medewerkers op een hoger niveau als de nieuwe medewerker vervangen worden?</p>

    <div id="data">
        @{
            Html.RenderPartial("_OverzichtTabel", Model.ViewModels);
        }
    </div>

    <div class="addOption">
        <a class="btn btn-success" id="openForm"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>

    <form asp-action="@action" id="form" style="display: none" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <!--3 hidden inputs om het id, soort en type op te slaan-->
        <input asp-for="Id"/>
        <input asp-for="Type"/>
        <input asp-for="Soort"/>

        <div class="row col-md-offset-2">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </span>
                    <input asp-for="Uren" class="form-control" placeholder="Uren" id="uren">
                </div>
                <span asp-validation-for="Uren" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-eur" aria-hidden="true"></i>
                    </span>
                    <input asp-for="BrutoMaandloonFulltime" class="form-control"
                           placeholder="Bruto maandloon (fulltime)" id="brutoloon">
                </div>
                <span asp-validation-for="BrutoMaandloonFulltime" class="text-danger"></span>
            </div>
        </div>
        <br/>

        <div class="row col-md-offset-2">
            <div class="col-md-8 text-right">
                <a class="btn btn-default" id="closeForm">Annuleer</a>
                <button type="submit" class="btn btn-info" style="margin-left: 15px">@ViewData["action"]</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script>
        if (@Model.Uren !== 0 && @Model.BrutoMaandloonFulltime !== 0) {
            siteView.toonFormulier();
        } else {
            $("#uren").val("");
            $("#brutoloon").val("");
        }

        $("#baten").addClass("active");
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}