@model KairosWeb_Groep6.Models.KairosViewModels.IndexViewModel
@{
    ViewData["title"] = ViewData["zoeken"] == null ? "Archief" : "Zoekresultaten";
    var klasse = ViewData["zoeken"] == null ? "col-md-12" : "col-md-9";
}

<div>
    <div class="page-header" style="overflow: auto;">
        <!--Overflow omdat anders de border boven de h3 en knop staat-->
        <div class="col-md-7">
            <h3>@ViewData["title"]</h3>
        </div>
        <div class="col-md-5" style="margin-top: 20px;">
            @if (ViewData["zoeken"] != null)
            {// als we gezocht hebben knop tonen
                <div class="col-md-3">
                    <a class="btn btn-default" asp-action="Index" asp-controller="Archief">Toon alles</a>
                </div>
            }

            <div class="@klasse">
                <!--margin omdat de h3 dezelfde margin heeft-->
                <form asp-action="Zoek" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Zoek analyses" id="zoekterm" name="zoekterm">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Zoek</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    @if (Model == null || !Model.Analyses.Any())
    {
        if (ViewData["zoeken"] == null)
        {
            <p style="font-size: 1.2em;">
                Er zijn nog geen analyses in het archief. Klik op het
                <i class="fa fa-archive" aria-hidden="true"></i>-icoon bij elke analyse om een analyse te archiveren.
            </p>
        }
    }
    else
    {
        <div class="row" id="data">
            @Html.Partial("_Analyses", Model)
        </div>

        <br />
        <div class="row" style="margin-top:20px">
            <div class="col-xs-9 col-md-9">
                @if (Model.showVorige)
                {
                    <a asp-controller="Archief" asp-action="Vorige" asp-route-aantalSkips="@Model.AantalKeerSkip" asp-route-aantal="@Model.Aantal" style="margin-left: 15px" class="btn btn-default">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Vorige
                    </a>
                }
            </div>
            <div class="col-xs-3 col-md-3 text-right">
                @if (Model.showVolgende)
                {
                    <a asp-controller="Archief" asp-action="Volgende" asp-route-aantalSkips="@Model.AantalKeerSkip" asp-route-aantal="@Model.Aantal" class="btn btn-default">
                        Volgende <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                }
            </div>
        </div>
    }
</div>