@model KairosWeb_Groep6.Models.KairosViewModels.AnalyseViewModel

<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="card-block">
            <div style="overflow: auto;">
                <!--Overflow omdat anders de border boven de h3 en knop staat-->
                <div class="col-md-6" style="padding-left: 0;">
                    <h3>@Model.Werkgever</h3>
                </div>
                <div class="col-md-6 text-right" style="margin-top: 20px;">
                    <!--margin omdat de h3 dezelfde margin heeft-->
                    <a asp-controller="Analyse" asp-action="OpenAnalyse" asp-route-id="@Model.AnalyseId" class="btn btn-default text-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    
                    <a asp-controller="Resultaat" asp-action="MaakPdf" asp-route-id="@Model.AnalyseId" class="btn btn-default text-right">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <!-- PDF MAKEN -->
                    </a>
                    
                    <a asp-controller="Analyse" asp-action="VerwijderAnalyse" asp-route-id="@Model.AnalyseId" class="btn btn-default text-right">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i> 
                    </a>
                </div>
            </div>
            <p>@Model.Departement</p>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     style="width: @(Math.Round((((double) Model.BatenInfo.AantalIngevuld / (double) Model.BatenInfo.AantalBaten) * 100) / 2, 0))%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar"
                     style="width: @(Math.Round((((double) Model.KostenInfo.AantalIngevuld / (double) Model.KostenInfo.AantalKosten) * 100) / 2, 0))%">
                </div>
            </div>

            <div class="text-center resultaat alert @Model.KlasseTotaal">
                <b>@Model.NettoResultaat.ToString("C")</b>
            </div>
        </div>
    </div>
</div>