@model KairosWeb_Groep6.Models.KairosViewModels.IndexViewModel

@if (Model == null || !Model.Analyses.Any())
{
    if (ViewData["zoeken"] == null)
    {
        <div class="col-md-12">
            <p style="font-size: 1.2em;">
                Er zijn nog geen analyses om te tonen. Klik op de <i class="fa fa-plus" aria-hidden="true"></i> hieronder
                of op het <i class="fa fa-line-chart" aria-hidden="true"></i>-icoon hierboven om een nieuwe analyse toe te voegen.
            </p>
        </div>
    }
}

<div class="col-sm-12">
    <a asp-controller="Analyse" asp-action="NieuweAnalyse">
        <div class="card text-center" style="color: black;">
            <i class="fa fa-plus fa-4x" aria-hidden="true" style="margin: auto 0;"></i>
        </div>
    </a>
</div>

@if (Model != null && Model.Analyses.Any())
{
    <div id="data">
        @foreach (var a in Model.Analyses)
        {
            @Html.Partial("_AnalyseCard", a);
        }
    </div>

    <div class="col-md-12" style="margin-top: 20px;">
        <div class="col-xs-9 col-md-9">
            @if (Model.ShowVorige)
            {
                <a asp-controller="Kairos" asp-action="Vorige" asp-route-beginIndex="@Model.BeginIndex"
                   asp-route-eindIndex="@Model.EindIndex" style="margin-left: 15px" class="btn btn-default"
                   id="vorige">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Vorige
                </a>
            }
        </div>
            <div class="col-xs-3 col-md-3 text-right">
                @if (Model.ShowVolgende)
                {
                    <a asp-controller="Kairos" asp-action="Volgende" asp-route-beginIndex="@Model.BeginIndex"
                       asp-route-eindIndex="@Model.EindIndex" class="btn btn-default" id="volgende">
                        Volgende <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                }
            </div>
    </div>
}

<script>
    if (siteView) {
        siteView.laadActionsVorigeVolgende();
    }
</script>