@model System.Collections.Generic.IEnumerable<KairosWeb_Groep6.Models.Domain.Werkgever>

<table class="table">
    <tr>
        <th>Naam</th>
        <th>Gemeente</th>
        <th>Straat en Nummer</th>
        <th></th>
        
        
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Naam</td>
            <!-- foto van Werkgever -->
            <td>@item.Gemeente</td>
            <td>@item.Straat @item.Nummer</td>
            <td>
                <a asp-controller="Kairos" asp-action="NieuweAnalyse" asp-route="@item.WerkgeverId">Nieuwe Analyse</a>
            </td>
           
        </tr>
    }
</table>
